<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/media-queries.css" />
  </head>
  <body>
    <footer>
      <div class="container flex footer-container">
        <a href="#" class="company-logo">
          <img src="./images/logo-nav.png" alt="company logo" />
        </a>
        <div class="link-column flex">
          <h4>Quick Links</h4>
          <a href="trainingDetail" class="hover-link">Training</a>
          <a href="books" class="hover-link">E-Book</a>
          <a href="contact" class="hover-link">Contact</a>
          <a href="about" class="hover-link">About</a>
          <a href="gallery" class="hover-link">Gallery</a>
        </div>
        <div class="link-column flex">
          <h4>Contact Us</h4>
          <a href="tel:+919106766593" class="hover-link">+91 9106766593</a>
          <a href="mailto:Yogeshvish2010@gmail.com" class="hover-link"
            >Yogeshvish2010@gmail.com</a
          >
          <a href="address" class="hover-link"
            >Narsinghpur, Madhya Pradesh, India 482001</a
          >
        </div>
      </div>
    </footer>

    <!-- subfooter -->

    <div class="subfooter">
      <div class="container flex subfooter-container">
        <a
          class="hover-link"
          href="https://www.facebook.com/yogesh.vishwakarma.33"
          ><i class="fa-brands fa-facebook"></i
        ></a>
        <a class="hover-link" href="https://twitter.com/theYogesh_Vish"
          ><i class="fa-brands fa-twitter"></i
        ></a>
        <a
          class="hover-link"
          href="https://www.instagram.com/theyogeshvishwakarma/"
          ><i class="fa-brands fa-instagram"></i
        ></a>
        <a
          class="hover-link"
          href="https://www.youtube.com/@TheYOGESHVISHWAKARMA"
          ><i class="fa-brands fa-youtube"></i
        ></a>
      </div>
    </div>
    <div class="copyrighttext">
      <p>Copyright 2023 Gyanesh Vishwakarma</p>
    </div>
  </body>
</html>
