<%- include('Partials/header') %>
<div class="about-grid">
  <div class="image-container">
    <img src="images/person-img.png" alt="person-img" />
    <div class="text-center">
      <br />
      <br />
      <h2>The Yogesh Vishwakarma</h2>
      <p>Business Trainer | Manufacturer</p>
    </div>
    <div class="links-container">
      <div class="links-info">
        <a
          class="hover-link"
          href="https://www.youtube.com/@TheYOGESHVISHWAKARMA"
          ><i class="fa-brands fa-youtube"></i
        ></a>
      </div>
      <div class="links-info">
        <a class="hover-link" href="https://twitter.com/theYogesh_Vish"
          ><i class="fa-brands fa-twitter"></i
        ></a>
      </div>
      <div class="links-info">
        <a
          class="hover-link"
          href="https://www.instagram.com/theyogeshvishwakarma/"
          ><i class="fa-brands fa-instagram"></i
        ></a>
      </div>
    </div>
    <a href="tel:+919106766593" class="primary-button get-started-btn"
      >Contact</a
    >
  </div>
  <div class="about-container">
    <div class="text-center">
      <h2>About Us</h2>
    </div>
    <br />
    <!-- <p>
      Offering comprehensive expertise as a Business Trainer and Manufacturer in
      the realm of Cleaning, Cosmetic, and Housekeeping Products. Specializing
      in chemical formulations, our training services ensure proficiency in
      product development and usage. Elevate your business with our tailored
      solutions for a pristine and well-maintained environment.
    </p> -->
    <div>
      <h3>Welcome to Yogesh Vishwakarma's Training</h3>
      <br />
      <p>
        Yogesh Vishwakarma, a seasoned entrepreneur and a recognized authority
        in the realm of manufacturing household and beauty products, cordially
        invites aspiring individuals to embark on a transformative journey into
        the art of product formulation. Committed to delivering unparalleled
        training experiences, Yogesh not only imparts invaluable knowledge but
        also provides an all-encompassing guide through his exclusive book,
        boasting 250 formulations for creating diverse products.
      </p>
      <br />
      <h3>Our Commitment to Excellence:</h3>
      <p>
        Yogesh Vishwakarma is dedicated to offering top-notch training that goes
        beyond conventional learning. Whether you're diving into the intricacies
        of product formulation or delving into the pages of the comprehensive
        formulation book, our commitment to quality is unwavering.
      </p>
      <br />
      <h3>Connect with Yogesh Vishwakarma:</h3>
      <p>
        For inquiries, support, or tailored assistance related to training
        sessions or the formulation book, Yogesh Vishwakarma is just a message
        away. Feel free to contact him via:
      </p>
      <br />
      <h4>Email: yogeshvish2010@gmail.com</h4>
      <br />
      <h4>Phone: 1234567890</h4>
      <br />
      <h3>Client-Centric Approach:</h3>
      <p>
        Yogesh Vishwakarma believes in ensuring a seamless experience for his
        clients. If the phone line is momentarily occupied, kindly be patient,
        as Yogesh might be assisting others. We encourage you to try again after
        15 minutes. For written communication, drop an email at
        support@yogeshvishwakarma.com.
      </p>
      <br />
    </div>

    <br />
    <h2>Visit Us</h2>
    <p>Narsinghpur,Madhya Pradesh (487001)</p>
    <br />
    <p>
      Thank you for choosing Yogesh Vishwakarma for your training needs. We
      eagerly anticipate being a part of your journey towards mastering the art
      of manufacturing household and beauty products. Get ready for an enriching
      learning experience!
    </p>
    <br />
    <br />
  </div>
</div>
<%- include('Partials/footer') %>
