<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Training Seat Booking</title>
  </head>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
    }

    .container-form {
      max-width: 600px;
      margin: 50px auto;
      background-color: #fff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
      text-align: center;
    }

    form {
      margin-top: 20px;
    }

    label {
      display: block;
      margin-bottom: 5px;
    }

    input[type="text"],
    input[type="email"],
    input[type="date"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
    }

    option {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
    }

    button {
      width: 100%;
      padding: 10px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    button:hover {
      background-color: #0056b3;
    }
  </style>
  <body>
    <%- include('Partials/header') %>
    <div class="container-form">
      <h1>Training Seat Booking</h1>
      <form action="/bookings" method="POST">
        <label for="name">Name:</label><br />
        <input type="text" id="name" name="name" required /><br />
        <label for="email">Email:</label><br />
        <input type="email" id="email" name="email" required /><br />
        <label for="contact">Contact No:</label><br />
        <input type="text" id="contact" name="contact" required /><br />
        <label for="address">Address:</label><br />
        <input type="text" id="address" name="address" required /><br />
        <label for="training_mode">Choose the Training Mode:</label><br />
        <select
          name="training_mode"
          id="training_mode"
          name="test[]"
          size="1"
          multiple
        >
          <option value="offline">Offline</option>
          <option value="online">Online</option>
        </select>

        <button type="submit">Book Seat</button>
      </form>
    </div>
    <%- include('Partials/footer') %>
  </body>
</html>
