<!-- bookpdf.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/media-queries.css" />
    <title>Book PDF</title>
  </head>
  <body>
    <%- include('Partials/header') %>
    <h1>Book PDF Page</h1>
    <p>Click the link below to view/download the PDF:</p>
    <a
      href="https://gofile.io/d/tzziIR"
      target="_blank"
      class="primary-button get-started-btn"
      >View PDF</a
    >
    <%- include('Partials/footer') %>
  </body>
</html>
