<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Us</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/media-queries.css" />
  </head>
  <body>
    <%- include('Partials/header') %>
    <div class="container contact">
      <div class="heading">
        <h1>Contact Us</h1>
      </div>
      <div class="description">
        <p>
          This is the official page of Yogesh Vishwakarma, where you can share
          all your queries, feedback, complaints, or any concern you may have
          about our centers, courses, and programs.
        </p>
        <br />
        <br />
        <p>
          Yogesh Vishwakarma, a dedicated entrepreneur and expert in the field
          of manufacturing household and beauty products, extends a warm
          invitation to all aspiring individuals interested in mastering the art
          of product formulation. With a commitment to providing top-notch
          training, Yogesh Vishwakarma not only imparts valuable knowledge but
          also offers a comprehensive guide through his exclusive book
          containing 250 formulations for creating various products.
        </p>
        <br />

        <hr />
        <br />
        <p>
          For any inquiries, support, or to address your specific needs related
          to the training sessions or the formulation book, feel free to reach
          out to Yogesh Vishwakarma. You can contact him at:
        </p>
        <br />
        <p>
          > Email: yogeshvish2010@gmail.com
          <br />
          > Phone: 9106766593
        </p>
        <br />
        <p>
          Yogesh Vishwakarma believes in ensuring a seamless experience for his
          clients. In case the phone line is busy, please be patient, as he
          might be assisting others. You're encouraged to try again after 15
          minutes. For written communication, you can drop an email at
          support@yogeshvishwakarma.com.
        </p>
      </div>
    </div>
    <%- include('Partials/footer') %>
  </body>
</html>
