<%- include('Partials/header') %>
<div class="container-gallery">
  <div class="left-text">
    <h2 class="heading">Gallery</h2>
    <p class="subheading">
      Here are some memories of training programs from 2019 to 2023.
    </p>
  </div>
  <div class="gallery">
    <div
      class="box row-2"
      id="box-1"
      style="background-image: url(/images/2017-training.jpg)"
    ></div>
    <div
      class="box col-2"
      style="background-image: url(/images/2019-2-Training.jpg)"
    ></div>
    <div
      class="box"
      style="background-image: url(/images/2019-3\ Training.jpg)"
    ></div>
    <div
      class="box row-2"
      style="background-image: url(/images/2019-Training.jpg)"
    ></div>
    <div
      class="box col-2"
      style="background-image: url(/images/2019\ last.jpg)"
    ></div>
    <div
      class="box"
      style="background-image: url(images/2020\ training.jpg)"
    ></div>
    <div
      class="box col-2"
      style="background-image: url(/images/2023-training.jpg)"
    ></div>
  </div>
</div>
<%- include('Partials/footer') -%>
