<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Yogesh Vishwakarma</title>
    <link rel="icon" href="/images/logo-nav.png" type="image/x-icon" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/media-queries.css" />
  </head>
  <%- include('Partials/header') %>

  <!-- header section -->
  <header>
    <div class="container header-section flex">
      <div class="header-left">
        <h1>Yogesh Vishwakarma</h1>
        <p>All Types Cleaning,Cosmetic And House Keeping Products.</p>
        <p>Business Trainer | Manufacturer | Trainer of Chemical Products</p>
        <a href="tel:+919106766593" class="primary-button get-started-btn"
          >Contact</a
        >
      </div>
      <div class="header-right">
        <img src="./images/person-img.png" alt="hero image" />
      </div>
    </div>
  </header>

  <!-- features section -->

  <section class="features-section" id="Service">
    <div class="container">
      <div class="features-header">
        <h2 class="features-heading-text">
          INDIA'S MOST LEADING BUSINESS TRAINER | SINCE 2017
        </h2>
      </div>
      <div class="features-area flex">
        <div class="features-card flex">
          <img src="./assets/Video assests/presentation.gif" alt="" />
          <h3>Training Program</h3>
          <p>
            Training program in Cosmetic, Cleaning and Housekeeping product
            formulation.
          </p>
          <a href="trainingDetail" class="secondary-button"
            >Learn More <i class="fa-solid fa-right-long"></i
          ></a>
        </div>
        <div class="features-card flex">
          <img src="./assets/Video assests/books.gif" alt="" />
          <h3>250 Formula E-Book</h3>
          <p>Introducing our new 250 formula Ebook.</p>
          <a href="formulationbook" class="secondary-button"
            >Learn more <i class="fa-solid fa-right-long"></i
          ></a>
        </div>
      </div>
    </div>
  </section>

  <!-- big features section -->

  <section class="big-feature-section">
    <div class="container flex big-feature-container">
      <div class="feature-img">
        <img src="./images/2019-2-Training.jpg" alt="" />
      </div>
      <div class="feature-desc flex">
        <h4>Top Highlights of</h4>
        <h3>Training Program</h3>
        <p>
          There Are The Some Extra Service Which is Provided in our Online /
          Offline Training Program.
        </p>
        <ul id="Highlights-points">
          <li>Training Certificate</li>
          <br />
          <li>Business Registration</li>
          <br />
          <li>N.O.C - Formula</li>
          <br />
          <li>Formulation Book</li>
          <br />
        </ul>
      </div>
    </div>
  </section>

  <section class="big-feature-section">
    <div class="container flex big-feature-container">
      <div class="feature-desc flex">
        <h4>What is inside the ?</h4>
        <h3>250 Formula E-book</h3>
        <p>
          These are the highlighted product which is inside the 250 Formulation
          book.
        </p>
        <ul id="Highlights-points">
          <li>Cleaning Products</li>
          <br />
          <li>Cosmetic Products</li>
          <br />
          <li>Beauty Products</li>
          <br />
          <li>Spa & Parlour Products</li>
          <br />
          <li>Car care Products</li>
          <br />
          <li>Saloon Products</li>
          <br />
          <li>Industrial Product</li>
          <br />
          <li>Housekeeping Products</li>
          <br />
        </ul>
      </div>
      <div class="feature-img book-img">
        <img src="./images/book cover.png" alt="" />
      </div>
    </div>
  </section>

  <section class="text-animation">
    <!-- changing text code section -->
    <div class="changetext">
      <h1>Join Us On</h1>
      <p><span class="typing-text"></span></p>
      <div class="social-medias">
        <div class="youtube">
          <a href="https://www.youtube.com/@TheYOGESHVISHWAKARMA"
            ><i class="fa-brands fa-youtube fa-2xl" style="color: #d60000"></i
          ></a>
          <p>Youtube</p>
          <h4>The Yogesh Vishwakarma</h4>
        </div>

        <div class="instagram">
          <a href="https://www.instagram.com/theyogeshvishwakarma/"
            ><i class="fa-brands fa-instagram fa-2xl" style="color: #d60000"></i
          ></a>
          <p>Instagram</p>
          <h4>The Yogesh Vishwakarma</h4>
        </div>

        <div class="telegram">
          <a href=""
            ><i class="fa-brands fa-telegram fa-2xl" style="color: #01b6fd"></i
          ></a>
          <p>Telegram</p>
          <h4>The Yogesh Vishwakarma</h4>
        </div>
      </div>
    </div>
  </section>

  <!-- video container section -->
  <section class="features-section">
    <div class="container">
      <div class="features-header">
        <h2 class="features-heading-text">Top Watched Youtube Videos</h2>
      </div>
      <div class="features-area flex video-section">
        <div class="features-card flex">
          <iframe
            width="350"
            height="200"
            src="https://www.youtube.com/embed/S-9KmvyK_1A"
            frameborder="0"
            allowfullscreen
          ></iframe>
        </div>
        <div class="features-card flex video-section">
          <iframe
            width="350"
            height="200"
            src="https://www.youtube.com/embed/izCzsJyAjoI"
            frameborder="0"
            allowfullscreen
          ></iframe>
        </div>
        <div class="features-card flex video-section">
          <iframe
            width="350"
            height="200"
            src="https://www.youtube.com/embed/m-q9IxO4jsU"
            frameborder="0"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </section>

  <!-- examples section -->

  <section class="examples-section Gallery">
    <div class="container">
      <div class="examples-header flex">
        <h2 class="examples-heading-text">Gallery</h2>
      </div>
      <div class="examples-area flex">
        <a
          href="#"
          class="examples-card"
          href="#"
          style="
            background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)),
              url(./images/2019-2-Training.jpg);
            background-size: cover;
          "
        >
          <h3 class="card-text">2019-Training Program</h3>
        </a>
        <a
          class="examples-card"
          href="#"
          style="
            background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)),
              url(./images/2017-training.jpg);
            background-size: cover;
          "
        >
          <h3 class="card-text">2020 - Training Program</h3>
        </a>
        <a
          class="examples-card"
          href="#"
          style="
            background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)),
              url(./images/2020\ training.jpg);
            background-size: cover;
          "
        >
          <h3 class="card-text">2021 - Training Program</h3>
        </a>
        <a
          class="examples-card"
          href="#"
          style="
            background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)),
              url(./images/2022\ -\ training.jpg);
            background-size: cover;
          "
        >
          <h3 class="card-text">2022 - Training Program</h3>
        </a>
      </div>
      <a href="gallery" class="secondary-button gallery-button"
        >Explore More <i class="fa-solid fa-right-long"></i
      ></a>
    </div>
  </section>

  <!-- cta section -->

  <section class="cta-section">
    <div class="container flex cta-section-container">
      <h2>Join Us Now</h2>
      <p>We are help you to develop your Business</p>
      <a href="register" class="primary-button">Get Started</a>
    </div>
  </section>

  <!-- footer -->
  <%- include('Partials/footer') %>
</html>
