<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Payment Successful</title>
  </head>
  <%- include('Partials/header') %>
  <body>
    <h1>Payment Successful!</h1>
    <br />
    <p>Your payment was successful. Thank you for your purchase!</p>
    <br />
    <p>Click the link below to view/download the PDF:</p>
    <br />
    <a href="book.pdf" download="book.pdf" class="primary-button">Download</a>
    <%- include('Partials/footer') %>
  </body>
</html>
