<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Training Details</title>
    <link rel="stylesheet" href="/css/OtherStyles.css " />
  </head>

  <body>
    <%- include('Partials/header') %>
    <div class="training-container">
      <div class="book-details">
        <div class="sticky-image-training">
          <img
            src="/images/2019-2-Training.jpg"
            alt="Book Cover"
            id="img-training"
          />
          <br />
          <br />
          <a href="training" class="purchase-button">Upcoming Training</a>
        </div>

        <div class="book-info">
          <h2>
            DIY Housekeeping and Personal Care Formulation Training Program
          </h2>
          <br />
          <p>
            <b>Description:</b> <br />
            Are you ready to unlock the secrets of crafting your own household
            and personal care essentials? Join our exclusive training program
            and learn the art of formulating high-quality products right in the
            comfort of your home!
          </p>
          <br />
          <p>
            <b>What You'll Learn:</b><br />
            <b> Housekeeping Essentials:</b>
            Toilet Cleaner: Master the formulation of effective and eco-friendly
            toilet cleaners that keep your bathroom fresh and sanitized.
          </p>
          <br />
          <p>
            <b> Car Care Wonders:</b>
            Revitalize your vehicle with DIY car care formulas. From car polish
            and tire shine to effective coolants and refreshing car perfumes,
            these formulations ensure your vehicle stays in top-notch condition.
          </p>
          <br />
          <p>
            <b>Dishwash: </b>
            Create your own dishwashing solution for sparkling clean dishes
            without the harsh chemicals.
          </p>
          <p>
            <b>Handwash: </b>
            Formulate gentle yet powerful handwash to maintain hygiene with
            care.
          </p>
          <p>
            <b>Phenyle: </b>
            Learn the art of making phenyle for a clean and fragrant home
            environment.
          </p>
          <br />
          <p>
            <b>Why Choose Our Training Program?</b>
          </p>
          <br />
          <ul>
            <li>
              <b>📚 Comprehensive Collection:</b>Explore a diverse range of
              formulations covering various aspects of housekeeping, car care,
              and personal care.
            </li>
            <li>
              <b>🌱 Eco-Friendly Solutions:</b>Embrace a sustainable lifestyle
              by creating your own eco-friendly and chemical-free products.
            </li>
            <li>
              <b>💡Step-by-Step Guidance:</b>Easy-to-follow instructions ensure
              that even beginners can master the art of formulation.
            </li>
          </ul>
          <br />
          <p>
            <b>Benefits of DIY Formulations:</b>
          </p>
          <br />
          <ul>
            <li>
              <b>💰 Cost-Effective:</b>Save money by making high-quality
              products at home.
            </li>
            <li>
              <b>🌍Environmentally Friendly:</b>Reduce your environmental
              footprint with eco-conscious formulations.
            </li>
            <li>
              <b>🌟Customization:</b>Tailor products to suit your preferences
              and specific needs.
            </li>
          </ul>
          <br />
          <p>
            <b>Join Us Today and Empower Yourself!</b>
            Enroll in our training program and embark on a journey of crafting
            your own housekeeping and personal care essentials. Empower yourself
            with the knowledge to create a healthy, clean, and sustainable
            living environment.
          </p>
        </div>
      </div>
      <div class="author-details">
        <h2>Training Details</h2>
        <p><b>Location:</b> Narsinghpur (487001), Madhya Pradesh</p>
        <p><b>Contact:</b> Call : 9106766593</p>
        <p><b>Email :</b>yogeshvish2010@gmail.com</p>
      </div>
    </div>
  </body>
  <%- include('Partials/footer') %>
</html>
