@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --padding-inline-section: 20px;
    --red:#e74c3c;
    --orange:#f39c12;
    --light-color:#888;
    --light-bg:#eee;
    --black:#2c3e50;
    --white:#fff;
    --border:.1rem solid rgba(0,0,0,.2);
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
}

.book-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.book-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 20px;
}

.sticky-image {
    flex: 0 0 auto;
    position: sticky;
    top: 0;
    max-width: 300px;
    margin-right: 20px;
}

.sticky-image img {
    max-width: 100%;
    height: auto;
}
.sticky-image a{
    display: flex;
    justify-content: center;
    align-items: center;

}
.book-info {
    max-width: 650px;
    text-align: justify;
}

.purchase-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.purchase-button:hover {
    background-color: #2980b9;
}

.author-details {
    max-width: 600px;
    text-align:left;
    border-top: 2px solid #ddd;
    padding-top: 20px;
}

.author-details h2 {
    text-align: center;
    margin-bottom: 10px;
}


#img-training{
    width: 170%;
}

.sticky-image-training {
    flex: 0 0 auto;
    
    position: sticky;
    top: 0;
    max-width: 300px;
    margin-right: 30px;
}


.sticky-image-training a{
    display: flex;
    justify-content: center;
    align-items: center;

}

.training-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}